VITE_API_URL=https://mahammadali-001-site1.jtempurl.com/api
VITE_PUBLIC_GROUP_CODE=g11
GOOGLE_DRIVE_API_KEY=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_DRIVE_REFRESH_TOKEN=
GOOGLE_DRIVE_PARENT_FOLDER_ID=
